.app {
    &.is-celebrating {
        .win-message {
            display: block;
        }
    }

    &.state-choose-mode {
        .choose-mode {
            display: block;
        }
    }

    &.state-setup {}

    &.state-roll {
        .playing-field {
            display: block;
        }

        .tile {
            border-color: #ccc;
            color: #ccc;
        }

        .button--use-tiles {
            background: #ccc;
            cursor: default;
        }
    }

    &.state-evaluate-roll {}

    &.state-choose-tiles {
        .playing-field {
            display: block;
        }

        .button--roll {
            background: #ccc;
            cursor: default;
        }
    }

    &.state-check-win {}

    &.state-reset-dice {}

    &.state-lose {
        .playing-field {
            display: block;
        }

        .loss-screen {
            display: block;
        }

        .button--roll,
        .button--use-tiles {
            background: #ccc;
            cursor: default;
        }
    }

    &.state-win {}
}
