.app {
    &.state-setup {

    }

    &.state-roll {
        .tile {
            border-color: #ccc;
            color: #ccc;
        }
    }

    &.state-evaluate-roll {

    }

    &.state-choose {
        .die {
            border-color: #ccc;
            color: #ccc;
        }
    }

    &.state-check-win {

    }

    &.state-reset-dice {

    }

    &.state-lose {

    }

    &.state-win {
      
    }
}
