.app {
    &.state-choose {
        .die {
            border-color: #ccc;
            color: #ccc;
        }

        .roll {
            background: #ccc;
        }
    }

    &.state-roll {
        .tile {
            border-color: #ccc;
            color: #ccc;
        }
    }
}
