@import "settings.unit";

@import "generic.reset";

@import "objects.dice";
@import "objects.centered-group";

@import "components.app";
@import "components.button";
@import "components.die";
@import "components.tile";

@import "trumps.spacing";


.debug-state {
    position: fixed;
    top: 0;
    right: 0;

    background: yellow;
    color: black;
}
